<link rel="stylesheet" href="../static/css/admin.css">
<div class="contenu">
    <h1>Bienvenue Administrateur</h1>
    <div class="navbar">
        <ul>
            <li><a href="/clients">Clients </a></li>
            <li><a href="/films">Films </a></li>
            <li><a href="/seance">Séance</a></li>
        </ul> 
    </div>
</div> 
