<div class="contenu">
    <div class="formulaire">
<h1>Bienvenue sur Cinema+</h1>
        <form action="/login" method="post">
            <fieldset>
                <table>
                    <tr>
                        <td>
                            <input type="hidden" id="Id" name="Id">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for=""> Nom :</label>
                        </td>
                        <td>
                            <input type="text" placeholder=" Entrez un nom" id="Nom" name="Nom">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for=""> Âge :</label>
                        </td>
                        <td>
                            <input type="number" placeholder=" 0000000000000" id="Age" name="Age">
                        </td>
                    </tr>
                </table>
                <button type="submit" id="valider"> Valider</button>
            </fieldset>
        </form>
    </div>